.data-table
  font-size: 12px
  width: 100%

  th
    background-color: #fff
    border-bottom: solid 1px #bbb
    padding: 5px 2px
    text-align: left

  td
    padding: 5px 2px

  tr:hover
    background-color: #ffff9f !important

  tr:nth-child(even)
    background-color: #fff

  tr:nth-child(odd)
    background-color: #eee

  .crud-action
    text-align: right
    width: 3%

    a
      background-color: #3b68d1
      color: #fff
      display: block
      padding: 3px 5px
      +border-radius(3px)

  .description
    max-width: 300px

.child-data
  background-color: #eee
  border: solid 1px #ddd
  padding: 20px
  +border-radius($radius)

  th
    background-color: #eee

  tr:nth-child(even)
    background-color: #eee

  tr:nth-child(odd)
    background-color: #ddd

