#time-entry-form
  margin: 10px

  .col
    float: left
    margin: 0 25px 15px 0
    overflow: hidden

  .date
    clear: left

    input
      width: 240px

  .duration

    input
      width: 80px

  .field
    clear: left

  .clear
    clear: left

  textarea
    width: 430px
