$radius = 6px

@import css3
@import header
@import tables

body
  background-color: #ccc
  font-family: 'Helvetica Neue', Helvetica, Arial, default

h2
  color: #333
  font-size: 22px
  padding-bottom: 5px
  margin-bottom: 20px

h3
  font-size: 18px
  margin-bottom: 10px

p
  margin-bottom: 20px

a
  color: #2a4bf8
  text-decoration: none

a:hover
  text-decoration: underline

#app-box
  background-color: #fff
  border: solid 1px #bbb
  margin: 0 auto 40px auto
  padding: 20px 10px
  width: 960px
  overflow: hidden
  +box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 10px)

#search-box
  background-color: #ddd
  margin-bottom: 20px
  padding: 10px

  form
    float: none

  input[type='text']
    margin-right: 10px
    padding: 5px
    width: 800px

.home-buttons
  padding: 5px
  text-align: right

  a
    display: inline-block
    margin: 0 0 10px 10px
    text-decoration: none
    text-shadow: 1px 0 #fff

.ui-dialog
  background-color: rgba(0, 0, 0, .8)
  +border-radius($radius)
  color: #fff
  padding: $radius

.ui-dialog-titlebar
  padding: 4px

.ui-dialog-titlebar-close
  background-color: rgba(0, 0, 0, .95)
  +border-radius(4px)
  color: #fff
  padding: 3px 10px
  margin: 3px
  text-decoration: none
  float: right

#dialog
  background-color: #fff
  +border-radius($radius)
  padding: 20px
  width: 400px

.activity
  background-color: #efefef
  border-bottom: solid 1px #ddd
  color: #666
  font-size: 12px
  margin-bottom: 10px
  padding: 15px
  overflow: hidden

  div
    clear: left
    float: left
    margin-bottom: 5px

  .activity-title
    font-size: 14px
    width: 80%

  .activity-user
    font-size: 14px

  .activity-meta
    margin: 0

    div
      float: none
      display: inline-block
      margin-right: 6px

  .activity-action
    float: right
    clear: none

.quick-links
  color: #666
  font-size: 13px
  margin-bottom: 10px

  li
    border-bottom: solid 1px #eee
    margin-bottom: 5px
    padding-bottom: 5px

.quick-links-footer
  font-size: 13px
  margin-bottom: 20px

.field
  margin-bottom: 10px
  overflow: hidden

form
  font-size: 12px
  float: left

label
  border-right: solid 2px #ddd
  display: inline-block
  margin-right: 10px
  padding: 5px 10px
  text-align: right
  vertical-align: top
  width: 80px

.readonly
  display: inline-block
  padding: 5px 0

input[type='text'], select, textarea
  clear: left

input[type='submit']
  float: right

#error_explanation
  background-color: #ffd9ed
  font-size: 12px
  margin-bottom: 20px
  padding: 15px

  h2
    border: none
    color: #710c1b
    font-size: 16px
    margin-bottom: 5px

  ul
    list-style-position: inside

#manage-nav
  text-align: right

  a
    display: inline-block
    margin: 0 0 10px 10px
    font-size: 14px

