/*
Syntax error: Invalid variable: "$radius = 6px".
        on line 1 of /Users/ejcavazos/Dropbox/code/rails/trackalack/public/stylesheets/sass/application.sass

1: $radius = 6px
2: 
3: @import css3
4: @import header
5: @import tables
6: @import filters

Backtrace:
/Users/ejcavazos/Dropbox/code/rails/trackalack/public/stylesheets/sass/application.sass:1
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:594:in `parse_variable'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:538:in `parse_line'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:447:in `build_tree'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:466:in `block in append_children'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:465:in `each'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:465:in `append_children'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:322:in `_to_tree'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `each'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `each'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/sass-3.1.1/lib/sass/plugin/rack.rb:51:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/warden-1.0.4/lib/warden/manager.rb:35:in `block in call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activerecord-3.0.7.rc2/lib/active_record/query_cache.rb:32:in `block in call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activerecord-3.0.7.rc2/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activerecord-3.0.7.rc2/lib/active_record/query_cache.rb:12:in `cache'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activerecord-3.0.7.rc2/lib/active_record/query_cache.rb:31:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activerecord-3.0.7.rc2/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activesupport-3.0.7.rc2/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/railties-3.0.7.rc2/lib/rails/rack/logger.rb:13:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/activesupport-3.0.7.rc2/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/railties-3.0.7.rc2/lib/rails/application.rb:168:in `call'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-test-0.5.7/lib/rack/mock_session.rb:30:in `request'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-test-0.5.7/lib/rack/test.rb:209:in `process_request'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rack-test-0.5.7/lib/rack/test.rb:105:in `request'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/testing/integration.rb:292:in `process'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/testing/integration.rb:32:in `get'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/actionpack-3.0.7.rc2/lib/action_dispatch/testing/integration.rb:325:in `block (2 levels) in <module:Runner>'
/Users/ejcavazos/Dropbox/code/rails/trackalack/spec/requests/clients_spec.rb:6:in `block (3 levels) in <top (required)>'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example.rb:48:in `instance_eval'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example.rb:48:in `block in run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example.rb:107:in `with_around_hooks'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example.rb:45:in `run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:294:in `block in run_examples'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:290:in `map'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:290:in `run_examples'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:262:in `run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:263:in `block in run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:263:in `map'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/example_group.rb:263:in `run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/command_line.rb:24:in `block (2 levels) in run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/command_line.rb:24:in `map'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/command_line.rb:24:in `block in run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/reporter.rb:12:in `report'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/command_line.rb:21:in `run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/runner.rb:61:in `run_in_process'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/runner.rb:52:in `run'
/Users/ejcavazos/.rvm/gems/ruby-1.9.2-p180@trackalack/gems/rspec-core-2.6.0.rc4/lib/rspec/core/runner.rb:10:in `block in autorun'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid variable: \"$radius = 6px\".\A         on line 1 of /Users/ejcavazos/Dropbox/code/rails/trackalack/public/stylesheets/sass/application.sass\A \A 1: $radius = 6px\A 2: \A 3: @import css3\A 4: @import header\A 5: @import tables\A 6: @import filters"; }
