#header {
  background-color: #222222;
  color: white;
  margin-bottom: 20px; }
  #header h1 {
    font-size: 20px;
    margin: 10px 0; }
  #header a {
    color: #eeeeee;
    text-decoration: none;
    text-shadow: 0 0 black; }
  #header ul {
    list-style: none;
    font-size: 12px;
    margin: 10px 0;
    text-align: right; }
    #header ul li {
      display: inline-block;
      margin-right: 5px; }
    #header ul a {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      display: inline-block;
      padding: 5px; }

.data-table {
  font-size: 12px;
  width: 100%; }
  .data-table th {
    background-color: white;
    border-bottom: solid 1px #bbbbbb;
    padding: 5px 2px;
    text-align: left; }
  .data-table td {
    padding: 5px 2px; }
  .data-table tr:hover {
    background-color: #ffff9f !important; }
  .data-table tr:nth-child(even) {
    background-color: white; }
  .data-table tr:nth-child(odd) {
    background-color: #eeeeee; }
  .data-table .crud-action {
    text-align: right;
    width: 10%; }
  .data-table .description {
    max-width: 300px; }

.child-data {
  background-color: #eeeeee;
  border: solid 1px #dddddd;
  padding: 20px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  .child-data th {
    background-color: #eeeeee; }
  .child-data tr:nth-child(even) {
    background-color: #eeeeee; }
  .child-data tr:nth-child(odd) {
    background-color: #dddddd; }

body {
  background-color: #cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, default; }

h2 {
  color: #333333;
  font-size: 22px;
  padding-bottom: 5px;
  margin-bottom: 20px; }

h3 {
  font-size: 18px;
  margin-bottom: 10px; }

p {
  margin-bottom: 20px; }

a {
  color: #2a4bf8;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#app-box {
  background-color: white;
  border: solid 1px #bbbbbb;
  margin: 0 auto 40px auto;
  padding: 20px 10px;
  width: 960px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px; }

#search-box {
  background-color: #dddddd;
  margin-bottom: 20px;
  padding: 10px; }
  #search-box input[type='text'] {
    margin-right: 10px;
    padding: 5px;
    width: 800px; }

.home-buttons {
  padding: 5px;
  text-align: center; }
  .home-buttons a {
    background-color: #dddddd;
    border: solid 1px #aaaaaa;
    color: #444444;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px 20px 0;
    text-decoration: none;
    text-shadow: -1px 0 white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px; }

.ui-dialog {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: white;
  padding: 6px; }

.ui-dialog-titlebar {
  padding: 4px; }

.ui-dialog-titlebar-close {
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  padding: 3px 10px;
  margin: 3px;
  text-decoration: none;
  float: right; }

#dialog {
  background-color: white;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 20px;
  width: 400px; }

.activity {
  background-color: #efefef;
  border-bottom: solid 1px #dddddd;
  color: #666666;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 15px;
  overflow: hidden; }
  .activity div {
    clear: left;
    float: left;
    margin-bottom: 5px; }
  .activity .activity-title {
    font-size: 14px;
    width: 80%; }
  .activity .activity-user {
    font-size: 14px; }
  .activity .activity-meta {
    margin: 0; }
    .activity .activity-meta div {
      float: none;
      display: inline-block;
      margin-right: 6px; }
  .activity .activity-action {
    float: right;
    clear: none; }

.quick-links {
  color: #666666;
  font-size: 13px;
  margin-bottom: 10px; }
  .quick-links li {
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 5px;
    padding-bottom: 5px; }

.quick-links-footer {
  font-size: 13px;
  margin-bottom: 20px; }

.field {
  margin-bottom: 10px; }

label {
  background-color: #dddddd;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
  vertical-align: top; }

#error_explanation {
  background-color: #ffd9ed;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 15px; }
  #error_explanation h2 {
    border: none;
    color: #710c1b;
    font-size: 16px;
    margin-bottom: 5px; }
  #error_explanation ul {
    list-style-position: inside; }

#manage-nav {
  text-align: right; }
  #manage-nav a {
    display: inline-block;
    margin: 0 0 10px 10px;
    font-size: 14px; }
