body {
  background-color: #cccccc; }

#header {
  background-color: #222222;
  color: white;
  margin-bottom: 20px; }
  #header h1 {
    margin: 10px; }
    #header h1 a {
      color: white;
      text-decoration: none; }

h2 {
  border-bottom: dashed 1px #cccccc;
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 20px; }

#app-box {
  background-color: white;
  border: solid 1px #bbbbbb;
  margin: 0 auto;
  padding: 20px 10px;
  width: 960px; }

#search-box {
  background-color: #dddddd;
  margin-bottom: 20px;
  padding: 10px; }
  #search-box input[type='text'] {
    margin-right: 10px;
    padding: 5px;
    width: 800px; }

.home-button {
  background-color: #dddddd;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center; }
  .home-button a {
    display: inline-block;
    margin: 20px; }

.ui-dialog {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: white;
  padding: 6px; }

.ui-dialog-titlebar {
  padding: 4px; }

.ui-dialog-titlebar-close {
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  padding: 3px 10px;
  margin: 3px;
  text-decoration: none;
  float: right; }

#dialog {
  background-color: white;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 20px;
  width: 400px; }

.activity li {
  margin-bottom: 8px; }
