#item-menu {
  background-color: #eeeeee;
  border: solid 1px #cccccc;
  margin: 1px;
  padding: 2px;
  position: absolute;
  text-align: left; }
  #item-menu ul {
    list-style: none; }
    #item-menu ul li {
      padding: 5px 15px 5px 5px; }
      #item-menu ul li a {
        background: none;
        border: none;
        color: black;
        margin: 0;
        padding: 0;
        text-align: left; }
      #item-menu ul li a:hover {
        text-decoration: none; }
    #item-menu ul li:hover {
      background-color: #c0cbe3; }
