h1 {
  font-size: 24px;
  margin: 40px;
  text-align: center; }

#box {
  background-color: white;
  border: solid 1px #cccccc;
  margin: 50px auto;
  padding: 20px 40px;
  width: 215px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px; }
