.row
  %div{ :class => 'column grid_7'}
    %h2 Client Edit

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'View Client', @client
      = link_to 'All Clients', clients_path

.row
  %div{ :class => 'column grid_12'}

    = render 'form'

