.row
  %div{ :class => 'column grid_7'}
    %h2 Clients

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'New Client', new_client_path

.row
  %div{ :class => 'column grid_12'}

    - if @clients.any?

      %table.data-table
        %tr
          %th Name
          %th

        - @clients.each do |client|
          %tr
            %td= client.name

            %td.crud-action
              %a.item-menu-button{:href => '', :data => { |
                :items => [ |
                  {:name => 'Show',    :path => client_path(client)}, |
                  {:name => 'Edit',    :path => edit_client_path(client)}, |
                  {:name => 'Destroy', :path => client_path(client)} |
                  ].to_json |
                } |
              } Menu |
    - else

      .prompt
        You have 0 clients.
        = link_to 'Add a client.', new_client_path

- content_for :scripts do
  = javascript_include_tag 'item_menu'
