.row
  %div{ :class => 'column grid_7'}
    %h2 Listing clients

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'New Client', new_client_path

.row
  %div{ :class => 'column grid_12'}

    %table.data-table
      %tr
        %th Name
        %th

      - @clients.each do |client|
        %tr
          %td= client.name

          %td.crud-action
            %a.item-menu-button{:href => '', :data => { |
              :items => [ |
                {:name => 'Show', :path => client_path(client)}, |
                {:name => 'Edit', :path => edit_client_path(client)}, |
                {:name => 'Destroy', :path => client_path(client)} |
                ].to_json |
              } |
            } Menu |

- content_for :scripts do
  = javascript_include_tag 'item_menu'
