#search-box
  %form
    %input{ :type => 'text'}
    %input{ :type => 'submit', :value => 'Search'}

%ul
  %li
    %a#test{:href => "#"}
      Add Client
  %li
    %a{:href => "#"}
      Add User

%h2
  Recent Activity

%ul
  %li Item 1
  %li Item 2
  %li Item 3
